<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Boucherie Stats</title>

  <!-- Included CSS Files -->
  <link rel="stylesheet" href="stylesheets/foundation.css">
  <link rel="stylesheet" href="stylesheets/select2.css">
  <link rel="stylesheet" href="stylesheets/app.css">

  <!--[if lt IE 9]>
    <link rel="stylesheet" href="stylesheets/ie.css">
  <![endif]-->

  <script src="javascripts/lib/modernizr.foundation.js"></script>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>

  <!-- container -->
  <div id="productapp" class="container">

    <div id="backupModal" class="reveal-modal">
      <h2>Backup</h2>
      <p>Copier/coller le contenu de la boite suivante dans un fichier texte.</p>
      <textarea id="backupCSV" class="csv"></textarea>
      <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="importModal" class="reveal-modal">
      <h2>Importation</h2>
      <p>Copier/coller le contenu d'un fichier texte à importer sur la page.</p>
      <textarea id="importCSV" class="csv"></textarea>
      <a href="#" id="submitCSV" class="right nice small radius red button">Importer</a>
      <a class="close-reveal-modal">&#215;</a>
    </div>

    <div class="row">
      <div class="twelve columns">
        <h2>Boucherie Stats</h2>
        <hr />
      </div>
    </div>

    <div class="row">
      <div id="plot"></div>
    </div>

    <div class="row">
      <div class="eight columns">
        <table style="margin-top:20px;width:100%">
          <thead>
            <tr>
              <th>Pièces</th>
              <th>Fournisseur</th>
              <th>Prix Moyen</th>
              <th>Dernier Prix</th>
            </tr>
          </thead>
          <tbody id="product-list">
          </tbody>
        </table>
        <a id="reveal-backup" href="#" class="right nice small radius red button">Backup</a>
      </div>

      <div class="four columns">
        <form class="nice">
          <fieldset>
            <input type="hidden" id="fournisseurInput" style='width:254px'/>
            <input type="hidden" id="pieceInput" style='width:254px'/>
            <label for="priceInput">Prix en euro</label>
            <input type="text" class="input-text" id="priceInput"/>
            <a id="new-product" href="#" class="nice small radius blue button">Ajouter</a>
          </fieldset>
        </form>
        <a id="reveal-import" href="#" class="right nice small radius red button">Import</a>
      </div>
  </div>
  <!-- container -->

  <!-- Templates -->

  <script type="text/template" id="piece-template">
    <%
    var rowspan = true;
    _.each(fournisseurs, function(fournisseur) { 
    %>
      <tr>
        <% if(rowspan) { %>
        <td rowspan="<%= fournisseurs.length %>">
          <%= piece %><br>
          <a href="#" class="center nice small radius blue button">Afficher</a>
        </td>
        <% rowspan = false; } %>
        <td><%= fournisseur.name %></td>
        <td><%= fournisseur.price.medium %></td>
        <td><%= fournisseur.price.latest %> <small>(<%= fournisseur.price.latest_date %>)</small></td>
      </tr>
    <% }); %>
  </script>

  <!-- Included JS Files -->
  <script src="javascripts/lib/jquery.min.js"></script>
  <script src="javascripts/lib/jquery.csv.min.js"></script>
  <script src="javascripts/lib/foundation.js"></script>
  <script src="javascripts/lib/raphael-min.js"></script>
  <script src="javascripts/lib/morris.min.js"></script>
  <script src="javascripts/lib/select2.js"></script>
  <script src="javascripts/lib/moment.min.js"></script>
  <script src="javascripts/lib/underscore-min.js"></script>
  <script src="javascripts/lib/backbone-min.js"></script>
  <script src="javascripts/lib/backbone.localStorage.js"></script>
  <script src="javascripts/mvc.js"></script>
  <script src="javascripts/app.js"></script>

</body>
</html>
